   * {
       box-sizing: border-box;
   }

   body {
       margin: 0;
       padding: 0;
   }

   .top-menu {
       position: relative;
       width: 100%;
       height: 100px;
   }

   .container {
       position: absolute;
       width: 100%;
       height: auto;
       display: inline-block;
       background-color: gold;
   }

   ul.tabs {
       margin: 0px;
       padding: 0px;
       list-style: none;
       text-align: center;
   }

   ul.tabs li {
       background: none;
       color: #222;
       display: inline-block;
       padding: 10px 15px;
       cursor: pointer;
   }

   ul.tabs li.current {
       background: #ededed;
       color: #222;
   }

   .tab-content {
       position: relative;
       display: none;
       background: #ededed;
       padding: 15px;

   }

   .tab-content.current {
       display: inherit;
   }

   #sideNav {
       position: fixed;
       width: 15%;
       height: auto;
       background-color: #393939;
       top: 20%;
       left: 0;
       z-index: 1;
   }

   .menu a {
       cursor: pointer;
       font-weight: bold;
   }

   .menu .hide {
       display: none;
       font-size: 15px;
       color: white;

   }

   .hide li {
       background-color: #898989;
   }

   .hide li a {
       color: white;
       margin-left: 20px;
   }

   .hide li a:hover {
       color: rgb(255, 206, 0);

   }

   h1 {
       position: relative;
       text-align: center;
       font-size: 50px;
       color: #000000;
   }

   h2 {
       text-align: center;
       font-size: 25px;
       color: #000000;
   }

   ul {

       list-style-type: none;
       padding: 0;

   }

   #sideNav li a {
       display: block;
       color: #ffffff;
       padding: 8px 16px;
       text-decoration: none;
       font-size: 20px;
   }

   #btn_menu {
       z-index: 2;
       position: fixed;
       margin-top: 180px;
       margin-left: 15%;
       background-color: white;
       border: 1px solid gray;
       cursor: pointer;
   }

   .section2 {
       height: 590px;
   }

   .content {
       width: 33.3%;
       height: 400px;
       float: left;
       border: 1px solid white;
   }

   .content img {
       width: 100%;
       height: 100%;
   }

   #copyright {
       width: 100%;
       height: 60px;
       padding: 15px 0;
       text-align: center;
       bottom: 0;
       background-color: dimgray;
       color: white;
   }

   .korea_foregin_type div {
       display: none;
   }

   .ImageBox {
       position: relative;
       width: 1000px;
       height: 500px;
       margin: auto;
   }

   .Pre_Btn {
       width: 50px;
       height: 50px;
       left: -5%;
       top: 45%;
       cursor: pointer;
       position: absolute;
   }

   .Next_Btn {
       width: 50px;
       height: 50px;
       right: -5%;
       top: 45%;
       cursor: pointer;
       position: absolute;
   }

   .carImage {
       width: 100%;
       height: 100%;
   }

   .tab-content div a {
       cursor: pointer;
   }

   .tab-content div a:hover {
       font-weight: bold;
       color: navy;
       font-size: 30px;
   }